@font-face {
    font-family: Instagram;
    src: url(billabong.ttf);
}

.instagram {
	font-family: Instagram;
	font-size: 60px
}

.container {
	text-align: center;
	background-size: cover;
	background-position: center;
}

#inicio-sesion {
	background: linear-gradient(45deg, #cd7951 0%,#5bb78d 100%);
	color: white;
}

input {
	background-color: rgba(246,246,246, 0.1);
	border: 0;
	border-radius: 0;
	padding: 10px;
	width: 300px;
}

.btn {
	background: transparent;
	border: 0.1px solid white;
	border-radius: 0;
	padding: 10px;
	width: 300px;
}

#inicio-sesion .foot {
	background-color: rgba(246,246,246, 0.1);
	border-top: 0.1px solid white;
	padding: 10px;
	width: 100%;
}

input::placeholder {
	color: white;
}
