@font-face {
    font-family: Instagram;
    src: url(billabong.ttf);
}

.instagram {
	font-family: Instagram;
}

.container {
	text-align: center;
}

#inicio-sesion {
	background: linear-gradient(45deg, #cd7951 0%,#5bb78d 100%);
}